.app {
    display: flex;
    height: 100vh;
    // width: 100%;
    position: relative;
    flex-direction: column;

    .container {
      display: flex;
      flex: 1;
      overflow: hidden; // Ẩn thanh cuộn chính
    }
  
    .main {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-left: 270px; // Đảm bảo nội dung không bị che bởi sidebar
      box-sizing: border-box; // Đảm bảo padding không làm tăng kích thước
      overflow-x: auto; // Cho phép cuộn ngang nếu cần thiết
      position: relative; // Đảm bảo main không ảnh hưởng đến sidebar
      z-index: 1; // Đảm bảo nội dung nằm trên sidebar
    }
  }