.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 0 #091e4224;
  padding: 12px 10px;
  font-size: 15px;
  color: #172b4d;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;
  &:hover {
    background: #f4f5f7;
    box-shadow: 0 4px 8px #091e4240;
  }
  .title {
    font-weight: 500;
    margin-bottom: 4px;
  }
}